<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find multisense_description)/urdf/multisenseKS21/multisenseKS21.urdf.xacro"/>

  <xacro:macro name="importable_multisenseS7">
      <xacro:multisenseKS21 name="${name}" />
  </xacro:macro>

</robot>

