<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find multisense_description)/urdf/multisenseremote_head_stereo/multisense_remote_head_stereo.urdf.xacro"/>

  <xacro:macro name="importable_multisense_remote_head_stereo" params="parent name *origin">

    <!-- Joint for connection to parent -->
    <joint name="${name}_head_root_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}/head"/>
    </joint>

    <xacro:multisense_remote_head_stereo name="${name}" />

  </xacro:macro>
</robot>

