<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find multisense_description)/urdf/multisenseBCAM/multisenseBCAM.urdf.xacro"/>

  <xacro:macro name="importable_multisenseBCAM">
      <xacro:multisenseBCAM name="${name}" />
  </xacro:macro>

</robot>

