<launch>

  <!-- Valid Sensor types are SL, S7, S7S, S21, S27, and BCAM -->

  <arg name="ip_address" default="10.66.171.21" />
  <arg name="namespace"  default="multisense" />
  <arg name="mtu"        default="7200" />
  <arg name="sensor"     default="S21" />
  <arg name="restart"    default="false" />
  <arg name="launch_robot_state_publisher" default="true" />
  <arg name="launch_color_laser_publisher" default="false" />
  <arg name="nodes_prefix" default="$(arg namespace)" />
  <arg name="tf_prefix" default="$(arg namespace)" />

  <!-- Robot state publisher -->
  <group if = "$(arg launch_robot_state_publisher)">
    <param name="robot_description"
          command="$(find xacro)/xacro '$(find multisense_description)/urdf/multisense$(arg sensor)/standalone.urdf.xacro' name:=$(arg namespace)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(arg nodes_prefix)_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <remap from="joint_states" to="/$(arg namespace)/joint_states" />
    </node>
  </group>

  <!-- ROS Driver -->
   <node pkg="multisense_ros" ns="$(arg namespace)" type="ros_driver" name="$(arg nodes_prefix)_driver" output="screen">
     <param name="sensor_ip"   value="$(arg ip_address)" />
     <param name="sensor_mtu"  value="$(arg mtu)" />
     <param name="tf_prefix"  value="$(arg tf_prefix)" />
     <param name="restart"  value="$(arg restart)" />
  </node>

  <!-- Color Laser PointCloud Publisher -->
  <group if = "$(arg launch_color_laser_publisher)">
    <node pkg="multisense_ros" ns="$(arg namespace)" type="color_laser_publisher" name="$(arg nodes_prefix)_color_laser_publisher" output="screen">
      <remap from="image_rect_color" to="/$(arg namespace)/left/image_rect_color" />
      <remap from="lidar_points2" to="/$(arg namespace)/lidar_points2" />
      <remap from="camera_info" to="/$(arg namespace)/left/image_rect_color/camera_info" />
    </node>
  </group>

</launch>
