<launch>

  <arg name="ip_address" default="10.66.171.21" doc="IP address of the multisense being connected to" />
  <arg name="namespace"  default="multisense"   doc="Namespace for all topics for this multisense instance" />
  <arg name="mtu"        default="7200"         doc="The maximum packet size that image data will be broken into when sent from the multisense. Setting to values above network adapter MTU will block image data from camera" />
  <arg name="sensor"     default="S30"          doc="The camera type. Used to determine the URDF model that will be loaded.
  Options:
    SL,
    S7,
    S7S,
    S21,
    S21B,
    S27,
    S30,
    BCAM,
    remote_head_vpb,
    remote_head_stereo,
    remote_head_mono" />
  <arg name="head_id"    default="-1" doc="Head ID to be used when connecting to remote head cameras. -1 for VPB or traditional MultiSense cameras" />
  <arg name="launch_robot_state_publisher" default="true" doc="Set true to launch the state publisher" />
  <arg name="launch_color_laser_publisher" default="false" doc="Set true to launch the laser colorization publisher for SL cameras" />
  <arg name="nodes_prefix" default="$(arg namespace)" doc="Prefix used for naming the nodes on launch" />
  <arg name="tf_prefix" default="$(arg namespace)" doc="Prefix used for transform names" />

  <!-- Robot state publisher -->
  <group if = "$(arg launch_robot_state_publisher)">
    <param name="robot_description"
          command="$(find xacro)/xacro '$(find multisense_description)/urdf/multisense$(arg sensor)/standalone.urdf.xacro' name:=$(arg namespace)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(arg nodes_prefix)_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <remap from="joint_states" to="/$(arg namespace)/joint_states" />
    </node>
  </group>

  <!-- ROS Driver -->
   <node pkg="multisense_ros" ns="$(arg namespace)" type="ros_driver" name="$(arg nodes_prefix)_driver" output="screen">
     <param name="sensor_ip"   value="$(arg ip_address)" />
     <param name="sensor_mtu"  value="$(arg mtu)" />
     <param name="tf_prefix"  value="$(arg tf_prefix)" />
     <param name="head_id"  value="$(arg head_id)" />
  </node>

  <!-- Color Laser PointCloud Publisher -->
  <group if = "$(arg launch_color_laser_publisher)">
    <node pkg="multisense_ros" ns="$(arg namespace)" type="color_laser_publisher" name="$(arg nodes_prefix)_color_laser_publisher" output="screen">
      <remap from="image_rect_color" to="/$(arg namespace)/left/image_rect_color" />
      <remap from="lidar_points2" to="/$(arg namespace)/lidar_points2" />
      <remap from="camera_info" to="/$(arg namespace)/left/image_rect_color/camera_info" />
    </node>
  </group>

</launch>
